<section class="text-layout">
  <h1>Pipes no tan comunes</h1>
  <p>Pipes incluidos en Angular - Usualmente en el Common Module</p>
</section>

<section class="grid">
  <div class="col md:col-6 sm:col-9">
    <p-fieldset legend="i18nSelect Pipe" [toggleable]="true">
      <p>
        Saludos <strong>{{ name }}</strong> es un placer
        {{ genre | i18nSelect: mapInvitation }}
        a este evento
      </p>

      <p-button (onClick)="changeName()" label="Cambiar Nombre"></p-button>
    </p-fieldset>
  </div>

  <div class="col md:col-6 sm:col-9">
    <p-fieldset legend="i18nSelect Plural" [toggleable]="true">
      <p>Actualmente {{ clients.length | i18nPlural: mapClients }}</p>
      <p-button (onClick)="deletClient()" label="Eliminar Cliente"></p-button>
    </p-fieldset>
  </div>

  <div class="col md:col-6 sm:col-9">
    <p-fieldset legend="Slice pipe" [toggleable]="true">
      <p>original</p>
      <pre>{{ clients }}</pre>

      <b>slice:0:2</b>
      <pre>{{ clients | slice: 0:2 }}</pre>

      <b>slice:1:2</b>
      <pre>{{ clients | slice: 1:2 }}</pre>

      <b> alex | slice:0:2</b>
      <pre>{{ name | slice: 0:2 }}</pre>
    </p-fieldset>
  </div>

  <div class="col md:col-6 sm:col-9">
    <p-fieldset legend="Json pipe" [toggleable]="true">
      <pre> {{ heroes | json }}</pre>
    </p-fieldset>
  </div>

  <div class="col md:col-6 sm:col-9">
    <p-fieldset legend="Key value pipe" [toggleable]="true">
      <ul>
        <li *ngFor="let item of person | keyvalue">
          {{ item.key }} : {{ item.value }}
        </li>
      </ul>
    </p-fieldset>
  </div>

  <div class="col md:col-6 sm:col-9">
    <p-fieldset legend="Async pipe" [toggleable]="true">
      <pre *ngIf="!(myObservable | async)">Resolviendo observable</pre>
      <pre>{{ myObservable | async }}</pre>

      <hr />

      <pre *ngIf="!(myPromise | async)">Resolviendo promesa</pre>
      <pre>{{ myPromise | async }}</pre>
    </p-fieldset>
  </div>
</section>
