<app-menu> </app-menu>

<router-outlet></router-outlet>

<!-- <section class="text-layout">
  <h1>{{ name | uppercase }}</h1>

  <p-button label="Click"></p-button>

  <hr />

  <button pButton type="button" label="Click"></button>

  <hr />

  <button
    class="p-button-help p-button-lg"
    icon="pi pi-check"
    iconPos="right"
    pButton
    type="button"
    label="Click"
  ></button>

  <hr />
  <p-card
    [header]="name | titlecase"
    subheader="Web Develpoer"
    [style]="{ width: '300px' }"
  >
    <img
      [style]="{ width: '100%' }"
      src="https://random.imagecdn.app/500/150"
      alt=""
    />
  </p-card>
</section> -->
